//variables

$first-background-color: #ffffff;
//beige
$second-background-color: rgb(233, 228, 232);
//pastel-green
$third-background-color: rgb(217, 230, 224);

$primary-font-color: #1b1b1b;
$secondary-font-color: #ffffff;

