//preloader

.preload{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10000;
    visibility: hidden;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: $secondary-font-color;
    transition: opacity 400ms ease-in-out, visibility 0s 400ms;
}

.show-preloader{
    visibility: visible;
    opacity: 1;
}

.circle{
    background-color: $second-background-color;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    animation: bounce-circles 0.7s infinite ease-in-out;
}

.preload .circle:nth-child(1){
     animation-delay: -0.6s;
}

.preload .circle:nth-child(2) {
     animation-delay: -0.5s;
}

.preload .circle:nth-child(3) {
     animation-delay: -0.4s;
}

.preload .circle:nth-child(4) {
    animation-delay: -0.3s;
}

@keyframes bounce-circles{
    0%, 40%, 100% 
    {
	transform: translateY(-10px);
    } 20% 
    {
	transform: translateY(-20px);
    }
}

//
html{
    scroll-behavior: smooth;
}

body{
    display: block;
    margin: 0;
    padding:0;
    font-size: 22px;
    line-height: 32px;
    font-family: 'Montserrat', sans-serif;
    color: $primary-font-color;
    background-color: $first-background-color;
}

.main-content{
    display: block;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0;
}

.btn-introduction{
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
    margin: auto;
    margin-top: 20px;
    padding: 0;
    opacity: 0.4;
    z-index: 2;
    background-image: url("../images/scroll-down.png");
    background-repeat: no-repeat;
    background-size: 100%;
    font-weight: bold;
    font-size: 0;
    cursor: pointer;
}

.btn-introduction:hover{
    opacity: 1;
    transition: 0.4s ease-in-out;
}

.scroll-to-top{
    display: block;
    margin: 0 auto;
    padding-bottom: 40px;
    width: 120px;
    height: auto;
    z-index: 1;
}

.scroll-to-top__btn{
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
    padding: 0;
    margin: 0 auto;
    opacity: 0.4;
    z-index: 2;
    background-image: url("../images/scroll-up.png");
    background-repeat: no-repeat;
    background-size: 100%;
    font-weight: bold;
    font-size: 0;
    cursor: pointer;
}
    
.scroll-to-top__btn:hover{
    opacity: 1;
    transition: 0.4s ease-in-out;
}

.scroll-to-top__text{
    display: block;
    text-align: center;
    padding: 10px 0;
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    color: rgb(212, 212, 212);
    font-family: 'Alegreya', serif;
}

