.contact-content{
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

//primary section 
.contact-details-section{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 70vh;
}

//left
.contact-details-section__text-container{
    position: relative;
    margin: 0;
    padding-top: 300px;
    padding-left: 100px;
    height: 100%;
    width: 45%;
    font-size: 0;
}

.contact-details-section__text-container__text{
    line-height: 34px;
}

//right
.contact-details-section__map-container{
    position: relative;
    margin: 0 auto;
    padding-top: 100px;
    padding-left: 50px;
    height: 100%;
    width: 55%;
}

.contact-details-section__map-container__google-map{
    position: relative;
    margin: 100px auto;
    padding: 0;
    width: 50vh;
    height: 50vh;
}

//second section
.contact-form-section{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 70vh;
}

.contact-form-section__title{
    padding-top: 200px;
    padding-bottom: 50px;
    padding-left: 10px;
    margin: 0;
}

.contact-form-section__form{
    display: flex;
    flex-direction: rows;
    padding: 50px 100px;
    font-family: 'Playfair Display', serif;    
    border: $primary-font-color 0.05px solid;
}

.contact-form-row{
    padding: 5px 0;
    margin: 0;
}

.contact-form-section__form__data{
    width:50%;
}

.contact-form-message{
    width: 50%;
}

.contact-form-section__form input, textarea{
    padding: 6px;
    margin-bottom: 15px;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: italic;
}

.contact-form-section__form input[name="submit"]{
    padding: 10px 30px;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
    background-color: white;  
    border: rgba(0, 0, 0, 0.5) 1px solid;
    cursor: pointer;
}

.contact-form-section__form input[name="submit"]:hover{
    opacity: 0.6;
}