.section-how-to-care{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    font-size: 0;
}

//about-care
.about-care__container{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0;
    padding: 0;
    margin: 0;
    background-color: bisque;
    overflow: hidden;
}

.about-care__container__text-content{
    display: inline-block;
    padding: 0 20px;
    margin: 0;
    max-width: 40%;
    background-color: rgb(218, 243, 128);
}
    
.about-care__container__picture-content{
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 40%;
    background-color: pink;
    z-index: 1000;
}

.about-care__container__picture-box{
    max-width: 200px;
    max-height: 200px;
    background-color: green;
}

//transplanting
.how-to-care__transplanting-one{
    color: $secondary-font-color;
    background-image: url("../images/transplanting.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.6;
}

.how-to-care__transplanting-two{
    background-color: $first-background-color;
}

//water
.how-to-care__water{
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 0;
    background-color: $second-background-color;
}


//fertilization
.how-to-care__fertilization{
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 0;
}


//diseases
.how-to-care__diseases{
    position: relative;
    padding: 280px 0;
    margin: 0;
    font-size: 0;


    .diseases__picture{
        display: inline-block;
        width: 40%;
        margin: 0;
        padding: 200px 0;

        img{
            width: 100%;
            margin: 0;
            padding: 0;
        }
    }

    .diseases__content{
        width: 60%;
        float: right;
        padding-top: 80px;
        padding-left: 200px;
        margin: 0;
        
        p{
            padding: 20px 0;
            margin: 0;
        }
    }
}

//propagation