.section-how-to-care{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    font-size: 0;
}

//care-for
.section-care-for{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    font-size: 0;
    padding: 0;
    margin: 0;
}

.care-for__text-container{
    display: inline-block;
    padding: 0 50px;
    margin: 5px;
    max-width: 50%;
}
    
.care-for__picture-container{
    display: inline-block;
    margin: 0 auto;
    padding: 150px 50px;
    width: 50%;
    max-height: 100%;
}

.care-for__picture-container__image{
    width: 700px;
    height: 650px;
}

//transplanting

.section-transplanting{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    font-size: 0;
}

.transplanting__right-container{
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin: 5px;
    width: 50%;
    max-height: 100vh;
}

.transplanting__left-container{
    display: flex;
    flex-direction: column;    
    padding: 50px;
    margin: 5px;
    width: 50%;
    max-height: 100vh;
    text-align: center;
}

.transplanting__left-container__picture-container{
    align-self: flex-end;
    margin: 0 auto;
    padding: 0;
    padding-top: 20px;
    width: 100%;
    height: 50%;
}

.transplanting__left-container__picture-container__image{
    margin: 0 auto;
    padding: 0;
    width: 600px;
    height: 550px;
}

.transplanting__left-container__text-container{
    align-self: flex-start;
    height: 50%;
    margin: 0 auto;
    padding: 0;
}

//water
.section-water{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    font-size: 0;
    padding: 0;
    margin: 0;
}

.water__picture-container{
    display: block;
    margin: 0 auto;
    padding: 150px 0;
    width: 50%;
    max-height: 100%;
    text-align: center;
}

.water__picture-container__image{
    margin: 0 auto;
    padding: 0;
    width: 500px;
    height: 750px;
}

.water__text-container{
    display: inline-block;
    padding: 150px 50px 150px 30px;
    margin: 5px;
    max-width: 50%;
}
    
//fertilization
.section-fertilization{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    font-size: 0;
    padding: 0;
    margin: 0;
}

.fertilization__text-container{
    display: flex;
    flex-direction: column;
    padding: 90px 50px 20px 50px;
    height: 50%;
}

.fertilization__boxes-container{
    display: flex;
    flex-direction: row;
    padding: 20px 50px 60px 50px;
    height: 45%;
}

.fertilization__boxes-container__box{
    display: block;
    border: 1px black solid;
    padding: 30px;
    margin: 0 30px;
    text-align: center;
}

.fertilization__boxes-container__box__title{
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
}

.fertilization__boxes-container__box__paragraph{
    padding: 25px 0;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
}

.fertilization__boxes-container__box__picture--1{
    height: 140px;
    background-image: url("../images/cactus-box-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.fertilization__boxes-container__box__picture--2{
    height: 140px;
    background-image: url("../images/cactus-box-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.fertilization__boxes-container__box__picture--3{
    height: 140px;
    background-image: url("../images/cactus-box-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.fertilization__container__boxes__box__picture__image{
    width: 200px;
    height: 120px;
}

//diseases
.section-diseases{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    font-size: 0;
    padding: 0;
    margin: 0;
}

.diseases__text-container{
    display: inline-block;
    padding: 300px 50px;
    margin: 5px;
    max-width: 50%;
}
    
.diseases__picture-container{
    display: inline-block;
    margin: 0 auto;
    padding: 150px 50px;
    width: 50%;
    max-height: 100%;
}

.diseases__picture-container__image{
    width: 700px;
    height: 500px;
}


//propagation
.section-propagation{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    font-size: 0;
    padding: 0;
    margin: 0;
}

.propagation__text-container{
    display: inline-block;
    padding: 300px 50px;
    margin: 5px;
    max-width: 50%;
}
    
.propagation__picture-container{
    display: inline-block;
    margin: 0 auto;
    padding: 150px 50px;
    width: 50%;
    max-height: 100%;
}

.propagation__picture-container__image{
    width: 700px;
    height: 650px;
}

