.introduction{
    width: 100%;
    margin: 0 auto;
    padding: 20px 20px 90px 20px;
    display: block;
    scroll-behavior: smooth;
}

.introduction__heading{
    display: block;
    margin: auto;
    padding-top: 50px;
    opacity: 0.8;
}

.introduction__paragraph{
    margin: 0;
    padding: 15px 0;
}

.introduction__container{
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.introduction__container__paragraph{
    display: inline-block;
    width: 65%;
    margin: 0;
    padding-top: 30px ;
    padding-right: 60px;
    vertical-align: top;
}

.introduction__container__picture-box{
    display: inline-block;
    width: 35%;
    margin: 0;
    padding-right: 30px;
    text-align:center;
    vertical-align: top;
}

.introduction__container__picture-box__image{
    height: 500px;
    width: auto;
    padding: 0;
    margin: 0;
}