.side-nav-ul{
    position: fixed;
    list-style-type: none;
    font-size: 10px;
    text-transform: uppercase;
    top: 35vh;
    z-index: 1000;
}

.side-nav-ul__li{
    padding: 0;
    margin: 0;
    line-height: 22px;
    font-weight: bold;
    cursor: pointer;
}

.side-nav-ul__li::before {
    content:"|";
    font-family: 'Alegreya', serif;
    font-weight: normal;
    padding: 0;
    margin-right: 4px;
    margin-left: -20px;
    font-size: 30px;
    line-height: 24px;
    opacity: 0.3;
}

.side-nav-ul__li__a{
    opacity: 0.3;
    text-decoration: none;
    color: $primary-font-color;
}

.side-nav-ul__li:hover,
.active-side-nav .side-nav-ul__li__a,
.side-nav-ul__li__a:hover,
.side-nav-ul__li:hover::before,
.active-side-nav::before{
    opacity: 1;
}
