.side-nav-ul{
    position: fixed;
    list-style-type: none;
    font-size: 10px;
    text-transform: uppercase;
    top: 400px;
}

.side-nav-ul__a__li{
    line-height: 22px;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.001;
}

.side-nav-ul__a__li:before:hover,
.active-side-nav{
    opacity: 1;
}

.side-nav-ul__a__li:before {
    visibility: visible;
    font-family: 'Alegreya', serif;
    font-weight: normal;
    content:"|";
    padding: 0;
    margin-right: 4px;
    margin-left: -20px;
    font-size: 30px;
    opacity: 0.6;
}

.side-nav-ul__a{
    color: $primary-font-color;
    text-decoration: none;
}