h1 {
    font-family: 'Alegreya', serif;
    color: $secondary-font-color;
    margin: 0;
    line-height: 80px;
    font-size: 66px;
}

h2 {
    text-align: left;
    font-weight: bold;
    font-family: 'Playfair Display', serif;    
    color: $primary-font-color;
    margin: 0;
    line-height: 80px;
    font-size: 48px;
}

h3 {
    text-align: left;
    font-weight: 1000;
    font-family: 'Poiret One', cursive;
    color: $primary-font-color;
    margin: 0;
    line-height: 40px;
    font-size: 36px;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    color: $secondary-font-color;
    font-size: 13px;
    line-height: 17px;
    font-weight: 100;
    text-transform: uppercase;
}

p{
    padding: 10px 0;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    font-size: 18px;
    line-height: 35px;
}

.separator{
    background-color: $primary-font-color;
    width: 90px;
    height: 1px;
    margin: 20px 0;
    padding: 0;
}