@import "./vendors/normalize";
@import "./abstracts/variables";
@import "./base/base";

*, *::before, *::after {
    box-sizing: border-box;
}


/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
}


@import "./components/slider-start";
@import "./components/typography";
@import "./components/footer";
@import "./components/header";
@import "./components/introduction";
@import "./components/gallery";
@import "./components/how-to-care";
@import "./components/side-nav";
@import "./components/contact-us";


@media only screen and (min-width: 1300px) and (max-width: 1600px){

// base.scss
  .main-content{
    width: 98%;
  }
  .btn-introduction{
    width: 70px;
  }

  .scroll-to-top__btn{
    width: 70px;
  }
  .scroll-to-top__text{
    padding: 5px 0;
  }

//header.scss
  .logo-menu{
    margin-top: 5px;
    margin-left: 30px;
    width: 200px;
  }

  .menu-nav{
    padding-top:20px;
    margin: 0;
    right: 300px;
  }

  .menu-nav__li-menu-nav{
    margin-right: 50px;
  }

  .menu-nav__li-menu-nav a{
    padding: 0;
    font-size: 16px;
  }

  .how-to-care__menu-nav{
    right: 390px;
  }

  .health-and-beauty__menu-nav{
    right: 200px;
  }

  .menu-nav__nav-roll{
    width: 175px;
  }

  .menu-nav__nav-roll a{
    font-size: 14px;
  }
  
  .search-menu__input[aria-label="search-aria-label"]{
    width: 270px;
    margin-right: 20px;
  }

//slider.scss
  .slider-container{
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 600px;
  }
  .slider__slide-span {
    font-size: 30px;
    line-height: 38px;
  }

  .slide1 .slider__slide-content{
    padding: 270px 700px 200px 0;
  }

  .slide2 .slider__slide-content{
  padding: 100px 500px 600px 0px;
  }

  .slide3 .slider__slide-content{
    padding: 260px 0px 160px 650px;
  }
  .slide4 .slider__slide-content{
    padding-top: 220px;
  }

  .introduction__container__paragraph{
    width: 60%;
  }

//typography.scss
  h1{
    font-size: 54px;
    line-height: 70px;
  }
  
  h2{
    font-size: 36px;
  }

  h3{
    font-size: 32px;
  }

  p{
    font-size: 16px;
    line-height: 36px;

  }

// footer.scss
  .footer{
    height: 400px;
  }
  
  .social-media{
    padding: 20px 0;
  }
  .social-media__image{
    width: 40px;
  }
  
  .social-media__designation{
    padding-top: 5px;
    font-size: 12px;
  }

  .footer-text{
    padding: 20px 0;
    font-size: 16px;
  }

//gallery.scss
  .main-content-gallery{
    padding: 50px 80px;
  }

//how-to-care
  .section-care-for{
    height: 100vh;
    width: 80%;
  }

  .care-for__text-container{
    padding: 20px 10px;
    margin: 0;
    width: 50%;
  }

  .care-for__picture-container__image{
    width: 450px;
    height: 400px;
  }

  .section-transplanting{
    max-height: 100%;
    width: 80%;
  }

  .transplanting__right-container{
    padding: 20px 10px;
    width: 50%;
  }

  .transplanting__left-container__picture-container__image{
    width: 500px;
    height: 450px;
}

  .section-water{
    height: 100vh;
    width: 80%;
  }

  .water__picture-container{
    padding: 0;
    width: 40%;
    max-height: 100%;
}

.water__picture-container__image{
    margin: 0 auto;
    padding: 0;
    width: 350px;
    height: 600px;
}

.water__text-container{
    padding: 0;
    margin: 5px;
    max-width: 50%;
}
}