@import "./vendors/normalize";
@import "./abstracts/variables";
@import "./base/base";

*, *::before, *::after {
    box-sizing: border-box;
}


/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
}


@import "./components/slider-start";
@import "./components/typography";
@import "./components/footer";
@import "./components/header";
@import "./components/introduction";
@import "./components/gallery";
@import "./components/how-to-care";
@import "./components/side-nav";



// @media screen and (max-width: 860px){
//     .main-content {
//         width: 100%;
// }